*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header  */
header {
    background-color: rgb(42,94,232);
    padding: 10px auto;
    height: 75px;
}
#logo {

}
/* footer  */
footer {
    background-color: rgb(27, 25, 25);
    padding: 10px 0;
}

.footer-top {
    padding-bottom: 30px;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

/* bordi dashed */
.db-black{
    border: 1px dashed black;
}
.db-white{
    border: 1px dashed white;
}

/* containter */
.container-1 {
    max-width: 1200px;
}

.container-2 {
    max-width: 991px;
}

.container-3 {
    max-width: 1200px;
    height: 400px;
}

.container-4 {
    background-color: green;
    height: 600px;
    width: 1200px;
}

.containter-5 {
    padding: 20px 0;
}

/* layout */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.col-15{
    width: 15%;
    height:100%;
}

.col-25{
    width: 25%;
    height: 100%;
}

.col-50{
    width: 50%;
    height: 100%;
}

.col-40{
    width: 40%;
    height: 100%;
}

.col-60{
    width: 60%;
    height: 100%;
}

.col-100{
    width:100%;
    height: 100%;
}

/* background */


.bg-jumbo {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size:cover;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: rgb(35,39,42);
}

.bg-pink {
    background-color: pink;
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-tiffany {
    background-color: rgb(33, 209, 209);
}

.bg-aquamarine{
    background-color: aquamarine;
}

/* lista  */
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    margin: 0 5px;
}

/* COMMON STYLE*/
.padding-5 {
    padding:5px;
}
.padding-10 {
    padding:10px;
}

.padding-40 {
    padding:40px;
}

.padding-left150{
    padding-left: 150px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.justify-content-sb {
    justify-content: space-between;
}

.height-50 {
    height: 50px;
}

.margin-container {
    margin: 0 auto;
}

.margin-top-20 {
    margin-top: 20px;
}

.text-white {
    color: white;
}

button {
    padding: 12px 15px;
    border-radius: 20px;
    margin: 0 10px;
    border: none;
}

.font-size15 {
    font-size: 15px;
}

.font-size20 {
    font-size: 20px;
}


.content {
    text-align: center;
    font-size: large;
}