*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* header  */
header {
    background-color: rgb(42,94,232);
    padding: 10px auto;
    height: 75px;
}

h2 {
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    margin: 10px auto;
}

p {
    line-height: 1.5;
}
/* footer  */
footer {
    background-color: rgb(27, 25, 25);
    padding: 10px 0;
}

.footer-top {
    padding-bottom: 30px;
    width: 100%;
}

.footer-bottom {
    width: 100%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 20px 0;
}

/* bordi dashed */
.db-black{
    border: 1px dashed black;
}
.db-white{
    border: 1px dashed white;
}

/* containter */
.container{
    width: 100%;
}

.containter-5 {
    padding: 20px 0;
}

/* layout */
.row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.col-15{
    width: 15%;
    height:100%;
}

.col-25{
    width: 25%;
    height: 100%;
}

.col-50{
    width: 50%;
    height: 100%;
}

.col-40{
    width: 40%;
    height: 100%;
}

.col-60{
    width: 60%;
    height: 100%;
}

.col-100{
    width:100%;
    height: 100%;
}

/* background */


.bg-jumbo {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size:cover;
}

.bg-wave {
    background-image: url(../img/wave.svg);
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: rgb(35,39,42);
}

.bg-light-gray {
    background-color: rgb(246,246,246);
}

.bg-discord-color {
    background-color: rgb(116,140,217)
}

.bg-lightblue {
    background-color: lightblue;
}

.bg-tiffany {
    background-color: rgb(33, 209, 209);
}

.bg-aquamarine{
    background-color: aquamarine;
}

/* lista  */
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

li {
    margin: 0 5px;
}

/* COMMON STYLE*/
.padding-5 {
    padding:5px;
}
.padding-10 {
    padding:10px 0;
}

.padding-40 {
    padding:40px;
}

.padding-left150{
    padding-left: 150px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.justify-content-sb {
    justify-content: space-between;
}

.justify-content-sa {
    justify-content: space-around;
}

.height-50 {
    height: 50px;
}

.margin-container {
    margin: 0 auto;
}

.margin-top-20 {
    margin-top: 20px;
}

.text-white {
    color: white;
}

.text-black {
    color:rgb(35,39,42);
}

button {
    padding: 15px 20px;
    border-radius: 30px;
    margin: 0 10px;
    border: none;
}

.font-size15 {
    font-size: 15px;
}

.font-size20 {
    font-size: 20px;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}


.content {
    font-size: large;
}